@import url('./custom/custom.css');

.right-box .box-r-b a .box-item .box-img {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 55%;
  }
  .box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }